body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #610202;
    margin: 20px;
}

h1 {
    color: #ffffff;
}

label {
    display: block;
    margin-top: 10px;
    color: #ffffff;
}

input, button {
    margin-top: 5px;
    padding: 8px;
    font-size: 16px;
}

button {
    cursor: pointer;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

#tablero {
    display: grid;
    grid-template-columns: repeat(60, 10px);
    grid-template-rows: repeat(60, 10px); /* Agregado para 60 filas */
    gap: 1px;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cell {
    width: 10px;
    height: 10px;
    border: 1px solid #ffee00;
    display: inline-block;
    margin: 0;
    cursor: pointer;
}

.cell:hover {
    background-color: #ff0000;
}